.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
__pycache__
__pycache__/
*.py[cod]
*$py.class
__pyxxx__/
venv/
env/
.venv/
.env/
ENV/
.uv/
.venv/
build/
dist/
*.egg-info/
*.egg
.coverage
htmlcov/
.pytest_cache/
.tox/
*.log
Thumbs.db
.ipynb_checkpoints/
*.pyc
*.pyo
*.db
*.sqlite3
*.code-workspace
.mypy_cache/
.*
!.gitignore
*.lock
data
logs
plugins
