[Unit]
Description=EchoWing SimplePhn Service (Serial Port)
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/heke1228/application/SimplePhn

NoNewPrivileges=no
PrivateTmp=no
PrivateDevices=no
PrivateUsers=no
ProtectHome=no
ProtectSystem=no
ProtectKernelTunables=no
ProtectKernelModules=no
ProtectControlGroups=no
RestrictAddressFamilies=~
RestrictNamespaces=no
RestrictRealtime=no
RestrictSUIDSGID=no
LockPersonality=no
MemoryDenyWriteExecute=no

DeviceAllow=*
DevicePolicy=auto

CapabilityBoundingSet=~
AmbientCapabilities=~

ReadWritePaths=/
ReadOnlyPaths=/

ExecStartPre=/bin/sh -c 'echo "当前用户: $(whoami)"'

ExecStart=/usr/bin/uv run main.py

Restart=on-failure
RestartSec=5

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PYTHONUNBUFFERED=1
Environment=HOME=/root

LimitNOFILE=65536
LimitNPROC=65536

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
